.dark-primary-color    { background: #D32F2F !important; }
.default-primary-color { background: #F44336 !important;; }
.light-primary-color   { background: #FFCDD2 !important;; }
.text-primary-color    { color: #FFFFFF !important;; }
.accent-color          { background: #536DFE !important;; }
.primary-text-color    { color: #212121 !important;; }
.secondary-text-color  { color: #757575 !important;; }
.divider-color         { border-color: #BDBDBD !important;; }
